/* Fonts */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/inter-v12-latin_cyrillic-regular.woff2') format('woff2'),
       url('../fonts/inter-v12-latin_cyrillic-regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/inter-v12-latin_cyrillic-500.woff2') format('woff2'),
       url('../fonts/inter-v12-latin_cyrillic-500.woff') format('woff');
}
@font-face {
  font-family: "suisse_intlblack";
  src: url("../fonts/suisseintl-black-webfont.woff2") format("woff2"),
    url("../fonts/suisseintl-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "suisse_intlbold";
  src: url("../fonts/suisseintl-bold-webfont.woff2") format("woff2"),
    url("../fonts/suisseintl-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "suisse_intlmedium";
  src: url("../fonts/suisseintl-medium-webfont.woff2") format("woff2"),
    url("../fonts/suisseintl-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "suisse_intlregular";
  src: url("../fonts/suisseintl-regular-webfont.woff2") format("woff2"),
    url("../fonts/suisseintl-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Common styles */
body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #23395e;
  color: #647288;
  font-size: 16px;
  font-family: "suisse_intlregular";
}
.wrapper {
  width: 100%;
}
.wrapper_main {
  padding-bottom: 50px;
}
.wrapper_login {
  background: url(../images/bg-main-top.png) 0% -10% no-repeat,
    url(../images/bg-main-bottom.png) 100% 100% no-repeat;
  background-size: auto auto;
  overflow: hidden;
}
.wrapper__bg {
  position: absolute;
  z-index: -1;
}
.wrapper__bg_top {
  top: -45px;
  mix-blend-mode: soft-light;
}
.wrapper__bg_bottom {
  top: 378px;
  mix-blend-mode: soft-light;
  height: 630px;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container_login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper__inner {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 2fr;
  grid-gap: 30px;
  height: 100%;
  justify-items: stretch;
}
.text-blue {
  color: #0ee9ff;
}
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }
.hide {
  display: none;
}

/* Login page styles */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__block_left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.login__logo {
  width: 230px;
  margin-bottom: 35px;
}
.login__title {
  max-width: 570px;
  font-family: "suisse_intlbold";
  font-size: 60px;
  line-height: 70px;
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
}
.login__arrow {
  margin: 0 65px;
}
.login-form {
  position: relative;
  width: 417px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  border-radius: 15px;
  padding: 35px 55px 50px 55px;
  color: #ffffff;
}
.login-form::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(165deg, rgb(18, 217, 242), transparent 50%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px)
      content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}
.form__header {
  margin-bottom: 20px;
  font-size: 24px;
}
.form__field {
  width: 306px;
  height: 48px;
  border-radius: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 15px;
  outline: none;
}
.password {
  position: relative;
}
.password__control {
  position: absolute;
  top: 17px;
  right: 15px;
  display: inline-block;
  width: 19px;
  height: 12px;
  background-image: url(../images/svg/eye.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.password__control.view::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  transform: rotate(-45deg);
  top: 5px;
  position: absolute;
}
.form__field::placeholder {
  color: #ffffff;
  font-size: 15px;
  font-family: "suisse_intlregular";
}
.form__field_first {
  margin-bottom: 15px;
}
.form__check {
  display: flex;
  margin: 25px 0;
}
.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  position: relative;
  line-height: 19px;
  font-size: 14px;
}
.form__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 12px;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 8px;
}
.form__checkbox:checked + label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 14px;
  height: 14px;
  background-color: #0ee9ff;
  border-radius: 4px;
}
.form__button {
  width: 312px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#08b1c4),
    to(#7eedfa)
  );
  background: linear-gradient(180deg, #08b1c4, #7eedfa);
  border-radius: 35px;
  color: #ffffff;
  transition: all 0.2s linear;
}
.form__button:hover {
  -webkit-box-shadow: 0 0 55px rgb(29 241 255 / 44%), inset 0 -5px 18px #d0faff;
  box-shadow: 0 0 55px rgb(29 241 255 / 44%), inset 0 -5px 18px #d0faff;
}

/* Header styles */
.header {
  padding: 30px 0;
}
.header__logo {
  width: 156px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search {
  position: relative;
  width: 55px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  border-radius: 300px;  
  padding: 18px 26px 21px 18px;
  height: 55px;
  line-height: 17px;
}
.search.open {
  flex: 1;
}
.search::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(165deg, rgb(18, 217, 242), transparent 50%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px)
      content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}
.search__icon {
  display: block;
  width: 19px;
  height: 19px;
  background-image: url(../images/svg/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 18px;
  top: 17px;
  transition: all .3s linear;
}
.search__icon:hover {
  transform: scale(1.2);
}
.search__field {
  width: 100%;  
  border: none;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  font-weight: 500;
  background: transparent;
}
.search__field::placeholder {
  color: #ffffff;
  font-family: "Inter";
  font-weight: 500;
}
.user {
  width: 55px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 18px;
  margin-left: 18px;
  font-size: 14px;
  color: #ffffff;
  line-height: 16px;
  border-radius: 300px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  cursor: pointer;
}
.user.open {
  width: 237px;
}
.user::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(165deg, rgb(18, 217, 242), transparent 50%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px)
      content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}
.user__image {
  transition: all .3s linear;
}
.user__image:hover {
  transform: scale(1.2);
}
.user__inner {
  display: flex;
  align-items: center;
  margin-left: 14px;
  font-family: "Inter";
  font-weight: 500;
}
.user__inner.hide {
  display: none;
}
.user__icon {
  margin-left: 24px;
  filter: drop-shadow(0 4px 2px #1f3c6d) drop-shadow(0 0 15px rgba(0,255,240,1));  
}

/* Navigation styles */
.tab-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(11px);
  border-radius: 20px;
  padding: 16px 13px;
}
.tab-header::before {
  content: "";
  position: absolute;
  inset: 0px;
  z-index: -1;
  border-radius: inherit;
  padding: 2px;
  background: linear-gradient(165deg, rgb(18, 217, 242), transparent 50%);
  -webkit-mask: linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px)
      content-box content-box,
    linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
  -webkit-mask-composite: xor;
}
.tab-header__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 55px;
  font-weight: 700;
  letter-spacing: 0.01em;
  padding-left: 19px;
  color: #ffffff;
  cursor: pointer;
}
.tab-header__item.active {
  color: #0EE9FF;
  text-shadow: 0px 0px 33px #0EE9FF;
  position: relative;
}
.tab-header__icon {
  margin: 0 16px 3px 0;
}
.tab-header__item.active .tab-header__icon {
  filter: drop-shadow(0 4px 2px #1f3c6d) drop-shadow(0 0 15px rgba(0,255,240,.7));
}
.tab-header__item.open .tab-header__icon {
  filter: drop-shadow(0 4px 2px #1f3c6d) drop-shadow(0 0 15px rgba(0,255,240,.7));
}
.tab-header__item.open {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(16.5px);
  border-radius: 15px 15px 0 0;
  border-bottom: 0;
  color: #0EE9FF;
  text-shadow: 0px 0px 33px #0EE9FF;
  position: relative;
}
.submenu {
  max-height: 0;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  transition: 0.3s all linear;
}
.submenu_main.open {
  padding: 0 19px 9px 19px;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(16.5px);
  border-radius: 0 0 15px 15px;
  border-top: 0;
}
.submenu.open {
  max-height: 1100px;
}
.submenu.open .submenu__item {
  padding-bottom: 3px;
  padding-right: 15px;
}
.submenu__item {
  padding: 15px 27px;
  cursor: pointer;
}
.submenu__item.active {
  color: #0EE9FF;
}
.submenu__head_icon {
  position: relative;
  color: #0EE9FF;
}
.submenu__head_icon::before {
  content: '+';
  color: #0EE9FF;
  font-size: 16px;
  display: block;
  position: absolute;
  left: -20px;
  top: -2px;
}
.submenu__head_icon.open::before {
  content: '-';
}

/* Main content styles */
.tab-content {
  height: calc(100% - 87px);
}
.tab-content__item {
  display: none;
  height: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 35px 55px 30px 55px;
}
.tab-content__item.active {
  display: block;
}
.tab-buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 22px;
  align-items: center;
  margin-top: 30px;
}
.tab-button {
  position: relative;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  flex: 1;
  height: 57px;
  border-radius: 15px;
  padding: 19px 20px;
  transition: all .3s linear;
}
.tab-button:hover {
  transform: scale(0.9);
}
.tab-button_prev {
  border: 2px solid #FFFFFF;  
  background-image: url(../images/svg/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.tab-button_next {
  background: linear-gradient(180deg, #08B1C4 0%, #7EEDFA 100%);
}
.tab-button_next::after {
  content: '';
  display: block;
  width: 24px;
  height: 16px;
  background-image: url(../images/svg/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 20px;
  top: 20px;
}
.article__title {
  color: #23395E;
  font-size: 30px;
  line-height: 34px;
  font-family: "suisse_intlbold";
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E2E8F1;
}
.article__subtitle {
  color: #23395E;
  font-size: 24px;
  line-height: 23px;
  font-family: "suisse_intlbold";
  margin-bottom: 10px;
}
.article__text {
  line-height: 23px;
  margin-bottom: 20px;
}
.article__text:last-child {
  margin-bottom: 0;
}
.article__images {
  display: flex;
  align-items: flex-start;
  column-gap: 14px;
  margin-bottom: 40px;
}
.article__image {
  display: block;
  border-radius: 15px;
  object-fit: cover;
}
.article__image_big {
  width: 428px;
  height: 412px;
}
.article__image_little {
  width: 315px;
  height: 199px;
}
.article__inner {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}